body {
	font-family : "Helvetica",sans-serif;
	color : #000;
	background-color : #fff;
}
th {
	background-color : #9cc;
	border : 1px dotted #699;
	font-style : italic;
}

th,td {
	width : 10em;
	padding : 0.5em;

}

caption {
	font-weight : bold;
}

table {
	border : 1px solid #999;
}

abbr {
	text-decoration : underline;
}


/* tr:hover {
	font-weight : bold;
} */


/*tr:nth-child(odd)  {background-color : #ffc}
tr:nth-child(even) {background-color : #fff}*/
